@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// ---------- VARIABLES ---------- //
$main-color: #BED9ED;
$text-and-border-color: #707070;
$btns-color: #6AA2F7;
$list-items-color: #ffffff;
$hover-brightness: 0.87;

// ---------- STYLES ---------- //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto";
    background-color: $main-color;
    display: flex;
    justify-content: center;    
    
    .container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        header {
            img {
                width: 15.125rem;
                height: 7.125rem;
            }
        }

        main {
            width: 100%;
            margin: 2.9375rem 0 2.6875rem 0;
            color: $text-color;

            .email {
                margin-bottom: 1.5rem;
            }

            .password {
                margin-bottom: 2.3125rem;
            }

            p {
                text-transform: capitalize;
                font-size: 0.9375rem;
                margin-bottom: 0.25rem;
            }

            input {
                width: 100%;
                height: 2.3125rem;
                border: 0.0625rem solid $text-color;
                border-radius: 0.625rem;
                filter: drop-shadow(0rem 0.1875rem 0.1875rem rgba(0,0,0,0.16 ));
                background: #ffffff;
                padding-left: 0.625rem;
            }

            button {
                width: 100%;
                height: 2.8125rem;
                border-radius: 0.625rem;
                filter: drop-shadow(0rem 0.1875rem 0.1875rem rgba(0,0,0,0.16 ));
                border: none;
                background: #6aa2f7;
                cursor: pointer;
                
                font-size: 1.25rem;
                font-weight: normal;
                font-style: normal;
                color: $text-color;
                text-transform: capitalize;
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                text-decoration: none;
                color: $btns-color;
            }
            a:first-child {
                margin-bottom: 1.0625rem;
            }
        }

    }
}

.lang {
    position: absolute;
    top: 1.125rem;
    right: 0.75rem;
    user-select: none;
    width: 4.45rem;
    height: 4.45rem;
    background-color: $btns-color;
    border-radius: 50%;
    z-index: 10;

    cursor: pointer;

    img {
        width: 2.875rem;
        height: 1.4375rem;
    }

    .circle {
        position: absolute;
        top: 1.5625rem;
        right: 0.8125rem;
    }

    span:last-child {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 1.75rem;
        right: 0.5625rem;
        opacity: 0%;
        visibility: hidden;
        background-color: $btns-color;
        width: 3.375rem;
        height: 8.1875rem;
        border-radius: 0 0 1.6875rem 1.6875rem;
        align-items: center;
        justify-content: center;
        z-index: -1;
        transition-property: all;
        transition-duration: 0.3s;
        img:first-child {
            margin: 0.9375rem 0;
        }
    }
}

.lang:hover {

    span:last-child {
        opacity: 100%;
        visibility: visible;
    }
}