@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
// ---------- VARIABLES ---------- //
$main-color: #BED9ED;
$text-color: #707070;
$btns-color: #6AA2F7;

// ---------- STYLES ---------- //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto";
    background-color: $main-color;
    display: flex;
    justify-content: center; 
    color: $text-color; 
    .container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 199px;
            height: 93px;
            margin-bottom: 80px;
            align-self: center;
        }
        p{
            line-height: 21px;
        }
        .email {
            width: 100%;
            margin: 20px 0 50px 0;
            p {
                font-size: 14px;
                margin-bottom: 4px;
            }
            input {
                width: 100%;
                height: 37px;
                border: 1px solid $text-color;
                border-radius: 10px;
                filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
                background: #ffffff;
                padding-left: 10px;
            }
        }
        button {
            width: 100%;
            height: 45px;
            border-radius: 10px;
            filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
            border: none;
            background: #6aa2f7;
            cursor: pointer;
            
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            color: $text-color;
            text-transform: capitalize;
        }
    }
}