@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// ---------- VARIABLES ---------- //
$main-color: #BED9ED;
$text-and-border-color: #707070;
$btns-color: #6AA2F7;
$list-items-color: #ffffff;
$hover-brightness: 0.87;

// ---------- STYLES ---------- //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

p{
    color: $text-and-border-color;
    font-size: 0.9375rem;
}

body {
    width: 100%;
    height: -webkit-fill-available;
    font-family: "Roboto";
    background-color: $main-color;
    display: flex;
    justify-content: center;    
    .container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;
        header{
            position: absolute;
            width: 100%;
            height: 3.375rem;
            background: $list-items-color;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 2.5rem;
            p {
                font-size: 1.6875rem;
                font-weight: bold;
                line-height: 1.6875rem;
                font-style: normal;
                color: $text-and-border-color;
            }
        }
        main {
            width: 100%;
            margin-top: 4.625rem;
            .profile-info{
                display: flex;
                align-items: start;
                gap: 1.9375rem;
                margin-bottom: 1.8125rem;
                img {
                    width: 5.625rem;
                    height: 5.625rem;
                    border-color: #707070;
                    border-width: 0.0625rem;
                    border-style: solid;
                    border-radius: 100%;
                }
                span {
                    .username{
                        width: 15.1875rem;
                        height: 2.3125rem;


                        font-family: "Segoe UI";
                        font-size: 1.6875rem;
                        font-weight: normal;
                        line-height: 1.6875rem;
                        font-style: normal;
                        text-align: left;
                        color: $text-and-border-color;
                    }
                    .group-name{
                        width: 15.1875rem;
                        height: 1.6875rem;


                        font-family: "Segoe UI";
                        font-size: 1.1875rem;
                        font-weight: normal;
                        line-height: 1.6875rem;
                        font-style: normal;
                        text-align: left;
                        color: $text-and-border-color;
                    }
                }
            }
            .main-nav{
                ul {
                    .nav-item{
                        display: flex;
                        align-items: center;
                        gap: 1.5625rem;
                        margin-bottom: 1.5625rem;
                        span {
                            color: $text-and-border-color;
                        }
                        p{
                            font-size: 1.5625rem;
                        }
                    }
                    .nav-item:nth-child(4){
                        position: relative;
                    }
                    .nav-item:nth-child(4)::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 0.0625rem;
                        background-color: $text-and-border-color;
                        top: -0.7813rem;
                    }
                    .nav-item:nth-child(5){
                        position: relative;
                    }
                    .nav-item:nth-child(5)::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 0.0625rem;
                        background-color: $text-and-border-color;
                        bottom: -0.7813rem;
                    }
                }
            }
        }
    }
}



// ------- NAVIGATION ------- //
.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .home {
    &.active {
      color: $btns-color;
    }
  }
  
  .calendar_today {
    &.active {
      color: $btns-color;
    }
  }
  
  .task {
    &.active {
      color: $btns-color;
    }
  }
  
  .edit {
    &.active {
      color: $btns-color;
    }
  }
  
  .tune {
    &.active {
      color: $btns-color;
    }
  }
  
  .tabbar {
      width: 100%;
      position: fixed;
      bottom: 0;
    ul,
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    ul {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: $list-items-color;
      align-self: flex-end;
      justify-content: center;
      height: 3.125rem;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      margin-right: 0.3125rem;
      transition: all 0.4s;
      background-color: $list-items-color;
      width: 3.75rem;
      height: 3.75rem;
      position: relative;
      color: $text-and-border-color;
      cursor: pointer;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .tab-style2 {
    ul {
      justify-content: center;
    }
  
    li {
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0.0625rem;
      left: 0;
      width: 3.75rem;
      height: 3.125rem;
    }
  
    .active {
      width: 3.75rem;
      height: 3.75rem;
      top: -16px;
  
      span {
        font-size: 32px;
      }
  
      &:before {
        border-bottom-right-radius: 100%;
        left: -0.4375rem;
      }
  
      &:after {
        border-bottom-left-radius: 100%;
        right: -0.4375rem;
      }
    }
  }
  
.material-symbols-outlined {
    font-size: 1.875rem;
}